/* gruvbox dark */

@define-color bg            #282828;
@define-color gray          #928374;
@define-color red-d         #cc241d;
@define-color red-l         #fb4934;
@define-color green-d       #98971a;
@define-color green-l       #b8bb26;
@define-color yellow-d      #d79921;
@define-color yellow-l      #fabd2f;
@define-color blue-d        #458588;
@define-color blue-l        #83a598;
@define-color purple-d      #b16286;
@define-color purple-l      #d3869b;
@define-color aqua-d        #689d6a;
@define-color aqua-l        #8ec07c;
@define-color orange-d      #d65d0e;
@define-color orange-l      #fe8019;

@define-color bg1           #3c3836;
@define-color bg2           #504945;
@define-color bg3           #665c54;
@define-color bg4           #7c6f64;

@define-color fg0           #fbf1c7;

window {
    background-color: rgba(40, 40, 40, 0.5);
    border-radius: 0px;
    border: 2px solid @blue-d;
}

#input {
    background-color: rgba(60, 56, 54, 0.5);
    color: @fg0; /*bg2*/
    border: 2px solid @blue-d;
    border-radius: 8px;
    padding: 8px;
    margin: 8px;
}

#outer-box {
    padding: 8px;
}

#entry:selected {
    background-color: @blue-d;
    border-radius: 8px;
}

#text:selected {
    color: @bg;
}

#text {
    color: @fg0;
    padding: 4px;
}

